build/
.android/
.ios/
.macos/
windows/
web/
linux/

.idea/
*.iml

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

*.log
*.tmp

key.properties

pubspec.lock

.env

xcuserdata/
DerivedData/
Pods/
